<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/cita.css">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Cita Agendada</title>
</head>
<body class="text-center" style="background-color: #eff5f7">
    <header class="container-fluid d-flex justify-content-center" id="contenedor-inicial">
        <p class="text-light mb-0 p-2 fs-6" id="typewriter"></p>
    </header>
<form id="form">
    <div id="contenedor">
        <div class="principal">
        <i class="fa-regular fa-clipboard-list-check  icon"></i>
        <h1>¡Su cita a sido agendada exitosamente!</h1>
        </div>
        <div class="chitito">
        <p>Numero de Cita: <br>
            <%= idcita %></p>
        <p>Identificacion del Paciente: <br>
            <%= numIden %></p>
        <p>Hora: <br>
            <%= hora %></p>
        <p>Fecha: <br>
            <%= fecha %></p>
        <a href="logout" class="a-logout">Logout</a>
        </div>
    </div>
</form>
</body>
</html>
