<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/session.css">
    <title>Cita Agendada</title>
</head>
<body>
    <h1>Su cita a registrado exitosamente!</h1>
    <p><%= idcita %></p>
    <p><%= numIden %></p>
    <p><%= hora %></p>
    <p><%= fecha %></p>
    <a href="logout" class="a-logout">Logout</a>
</body>
</html>